

body:has(.dnd) {
	--show: flex;
	--opacity: 0;

	// position: relative;
	
	&:hover:has(:not(.dnd.show)) {
		--show: none;
	}

	& > .dnd {
		position: fixed;
		inset: 0;
		background-color: var(--color-pre);
		border: 0.4rem dashed var(--color-second);
		border-radius: 0.2rem;
		color: var(--color-second);
		display: var(--show);
		opacity: var(--opacity);
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 2rem;
		font-weight: 700;
		cursor: pointer;
		z-index: 10000;

		&:hover,
		&.dragover {
			color: var(--color-third);
			border-color: var(--color-third);
			opacity: 0.8;
		}

		&.show {
			--show: flex;
			--opacity: 0.8;
		}
	}

}
